
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

@if (ViewBag.Book.Title != null)
{
    <h1>@(ViewBag.Book.Title)</h1>
    @foreach (Borrow borrow in ViewBag.Book.Borrows)
    {
        <p>Borrow #: @(borrow.ID)</p>
        <a href="/Borrow/ExtendDueDate?id=@(borrow.ID)">Extend Due Date</a>
        <a href="/Borrow/ExtendDueDate?id=@(borrow.ID)">Return Book</a>
    }
    <a href="/Book/DeleteBook?id=@(ViewBag.Book.ID)">Delete Book</a>
}
else
{
    <p>No Book Selected."</p>
    <p>You have reached this page by mistake!</p>
}


