
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

@if(ViewBag.Book.Title != null)
{
    <p>
        You have checked out @(ViewBag.Book.Title) on @(ViewBag.Book.CheckedOutDate), and the due date is @(ViewBag.Book.DueDate).
    </p>

    <button>Extend Due Date</button>
    <button>Return Book</button>
    <button>Delete Book</button>
}
else
{
    <p>No Book Selected."</p>
    <p>You have reached this page by mistake!</p>
}


