
@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

@if(ViewBag.Overdue.Count > 0)
{
    @foreach(Book book in ViewBag.Overdue)
    {
        <li><a href="/Book/Details/@(book.ID)">@(book.Title) by @(book.Author)</a></li>
    }
}