@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This application was created as a tool to help keep track of all the books that are checked out of a library.</p>
    <p>When a new book is created in the database it is considered to be checked out. Head on over to the create tab to get started!</p>
    <p>Books are given 14 days to return from the check out date.</p>
</div>
